.footer {
  background-color: #0e1821;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.logo-and-description {
  flex: 1 1 100%;
  text-align: center;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-description {
  line-height: 1.6;
  color: #b0bec5;
  max-width: 400px;
  margin: 1 auto;
  
}

.social-icons {
  margin-top: 15px;
}

.social-icon {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #1db954;
}

.footer-details {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-details, .our-services {
  flex:1 1 100%;
  min-width: 150px;
  margin-bottom: 20px;
  text-align: center;
}

.our-services h3, .our-pages h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
  margin-left: 40px;
}

.contact-details h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
}

.contact-details p, .our-services li, .our-pages li {
  font-size: 0.9rem;
  line-height: 1.8;
  color: #b0bec5;
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #2c3e50;
  padding-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.payment-options img {
  width: 40px;
  margin-right: 10px;
}

/* Media Queries */
@media (min-width: 768px) {
  .logo-and-description {
      flex: 1;
      text-align: left;
  }

  .footer-details {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
  }

  .contact-details, .our-services, .our-pages {
      flex: 1;
      text-align: left;
  }

  .footer-bottom {
      justify-content: space-between;
      text-align: left;
  }
}

@media (min-width: 992px) {
  .footer-content {
      justify-content: space-between;
  }
}
